* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 0.32rem;
  font-weight: 400;
  font-style: normal;
  font-family: "Microsoft Yahei";
  text-size-adjust: 100%;
}

body {
  min-width: 320px;
}

ul,
li {
  list-style: none;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
  font-size: 625%;
}

img,
div,
body,
html,
ul,
li,
a {
  -webkit-touch-callout: none;
}

input,
button {
  outline: 0;
}

button {
  cursor: pointer;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

html,
body,
.wrap {
  width: 100%;
  height: 100%;
  background: #fff;
}

.wrap {
  display: flex;
  flex-direction: column;
}

.wrap .header-input {
  width: 100%;
  height: 0.85rem;
  display: flex;
  padding: 0 10px;
}

.wrap .header-input .input {
  flex: 1;
  height: 0.6rem;
  line-height: 0.6rem;
  border: 1px solid #CDCDCD;
  text-indent: 20px;
  margin-top: 10px;
  background: #F9F9F9;
  color: #B8B8B8;
  border-radius: 5px;
}

.wrap .header-input .pic {
  width: 0.64rem;
  height: 0.58rem;
}

.wrap .header-input .pic img {
  width: 100%;
  height: 100%;
  margin-top: 14px;
  margin-left: 4px;
}

.wrap section {
  width: 100%;
  flex: 1;
}

.wrap section .list-Banner {
  margin-top: 8px;
}

.wrap section .list-Banner .swiper-slide {
  width: 100%;
  height: auto;
}

.wrap section .list-Banner .swiper-slide img {
  width: 100%;
  height: 100%;
}

.wrap section .dl-list {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #CFCFCF;
}

.wrap section .dl-list dl {
  width: 25%;
  padding: 5px 0;
}

.wrap section .dl-list dl dt {
  width: 0.75rem;
  height: 0.75rem;
  margin: 0 auto;
}

.wrap section .dl-list dl dt img {
  width: 100%;
  height: 100%;
}

.wrap section .dl-list dl dd {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  color: #555555;
  font-size: 0.3rem;
}

.wrap section .title-bar {
  width: 100%;
  padding: 0.3rem 0.21rem 0.29rem 0.2rem;
}

.wrap section .title-bar dl {
  display: flex;
  position: relative;
}

.wrap section .title-bar dl dt {
  width: 1.45rem;
  height: 1rem;
}

.wrap section .title-bar dl dt img {
  width: 100%;
  height: 100%;
}

.wrap section .title-bar dl dd {
  padding: 0.1rem;
}

.wrap section .title-bar dl dd h3 {
  font-size: 0.28rem;
  color: #212121;
}

.wrap section .title-bar dl dd p {
  font-size: 0.23rem;
  margin-top: 4px;
  color: #8C8C8C;
}

.wrap section .title-bar dl dd .right-H {
  position: absolute;
  right: 10px;
  top: 16px;
  color: #8C8C8C;
  font-size: 0.22rem;
}
